<h1>Welcome to SharesYourNotes, <%= @user.username %></h1>
  <p>
    You have successfully signed up to SharesYourNotes,
    your username is: <%= @user.username %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>