<h1>Faq</h1>

<h3 style="color:white">Queste sono le domande gia poste</h3>



<ul>
<li>
<h4 style="color:white">Come posso loggarmi?</h4><br/>
<p style="color:white">Puoi loggarti utilizzando Google, Facebook oppure <%= link_to "registrandoti", signup_path,style:"color:grey;background: none; text-decoration:none" %> nel nostro sito.</p>
</li>
<li>
<h4 style="color:white">Posso leggere gli appunti senza essere loggato?</h4><br/>
<p style="color:white">Si, è possibile leggere gli appunti senza essere loggati senza avere la possibilità di lasciare valutazioni e commenti. </p>
</li>
<li>
<h4 style="color:white">Posso caricare gli appunti senza essere loggato</h4><br/>
<p style="color:white">No, non puoi caricare gli appunti se non sei loggato.</p>
</li>
<li>
<h4 style="color:white">Come posso pubblicare i miei appunti sul sito? </h4><br/>
<p style="color:white">Per pubblicare gli appunti basta loggarsi e premere Carica Appunti nella home page e inserire i dati richiesti.</p>
</li>
<li>
<h4 style="color:white">C'è un limite al numero di appunti che posso pubblicare?</h4><br/>
<p style="color:white">Non c'è alcun limite al numero di appunti che puoi pubblicare.</p>
</li>
<li>
<h4 style="color:white">Posso modificare o rimuovere i miei appunti una volta pubblicati?</h4><br/>
<p style="color:white">Si, è possibile modificare o rimuovere i tuoi appunti.</p>
</li>
<li>
<h4 style="color:white">Come posso categorizzare i miei appunti per rendere più facile trovarli?</h4><br/>
<p style="color:white">Durante la creazione dell'appunto puoi selezionare diversi tag e topic per categorizzarli.</p>
</li>
<li>
<h4 style="color:white">Posso visualizzare i feedback o i commenti degli altri utenti sui miei appunti?</h4><br/>
<p style="color:white">Si, durante la visualizzazione dell'appunto è possibile vedere la valutazione e i commenti lasciati dagli altri utenti.</p>
</li>
<li>
<h4 style="color:white">Posso cercare appunti specifici su determinati argomenti?</h4><br/>
<p style="color:white">Si, puoi cercare appunti specifici su determinati argomenti attraverso l'uso del filtro nella barra di ricerca.</p>
</li>
<li>
<h4 style="color:white">Posso scaricare gli appunti di altri utenti per usarli offline?</h4><br/>
<p style="color:white">Si, è possibile scaricare gli appunti sia in locale che sul proprio google drive con il formato desiderato.</p>
</li>
<li>
<h4 style="color:white">Come posso contattare l'assistenza se riscontro problemi tecnici o ho domande aggiuntive?</h4><br/>
<p style="color:white">Puoi contattare gli amministratori attraverso la chat nell'home page.</p>
</li>



</ul>