<!-- app/views/google_drive/index.html.erb -->
<%= stylesheet_link_tag 'google_drive', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <div class="header">
    <h1 class="title fw-bold" style="color:white;">Seleziona un file dal tuo</h1>
    <%= image_tag "Google_Drive_logo.png",class:"google_drive_logo" %>
  </div>
</div>
<ul class="list-file">
  <% @files.select { |file| file.name =~ /\.(pdf|docx|mov|mp4|avi?)\z/i }.each do |file| %>
    <%= link_to new_note_path(file_name: file.name,file_id: file.id,alert: { success: "Il file è stato selezionato dal Google Drive!" }),style: "text-decoration: none; font-weight: bold;color: #0000FF" do %>
      <div class="div_file">
        <li class="file">
          <p class="file_name"><%= file.name %></p>
        </li>
      </div>
    <% end %>
  <% end %>
</ul>
