<!-- app/views/google_drive/index.html.erb -->

<h1>Lista dei file su Google Drive</h1>

<ul>
  <% @files.each do |file| %>
    <li>
      <%= link_to file.name, file.web_view_link, target: '_blank' %>
    </li>
  <% end %>
</ul>
