@import "bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: rgb(34,40,49);
  
}
.nav-item:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}
.logos-container {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  
 .logo_omniauth{
    margin-top: 50px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none; 
 }
  
  /* If you want to remove the underline from the links */
  .logo a {
    text-decoration: none;
  }
  

  ::-webkit-scrollbar {
    width: 6px;
    
  }
  
  ::-webkit-scrollbar-track {
    background: #ddd;
    
  }
  ::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #b6aeae;
  }

  h1{
    font-weight: bold;
    color: white;
  }