// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans',sans-serif;
    
}

/* Navbar Css*/
.navbar {
    background: #141414;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 1.2rem; 
    position: sticky;  top: 0; /* Mantengo la navbar ancora all'inizio della pagina */
    z-index: 999; /* Ordine di impilamento piu grande possibile */
}

.navbar__container{
    display: flex; /* Definisco un contenitore di tipo Flexbox*/
    justify-content: space-between; /* Mantengo lo spazio tra 'ReBuild' e la parte dei collegamenti alle altre pagine*/
    height: 80px;
    z-index: 1; 
    width: 100%; /* Largghezza della navbar*/
    max-width: 1300px; /* Larghezza massima*/ 
    padding-left: 20px; /* Spazio tra il margine sinistro della pagina e logo */
    padding-right: 20px; /* Spazio tra il margine destro della pagina e collegamenti nella navbar */
}


#navbar__logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top,#ff0844 0%,#ffb199 100%);
    background-clip: border-box;
    -webkit-background-clip: text; /* Il colore impostato su background-image è impostato solo sul testo */
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Kumbh Sans',sans-serif;
    
}

#logo{
    max-width: 50%; 
    max-height: 50%;
    margin-right: 0.5rem; /* Distanza tra Logo e 'Rebuild' */
    background-image: url(images_path('book.png'));
}



.navbar__menu{
    display: flex; /* Definisco un contenitore di tipo Flexbox* per i collegamenti nella navbar */
    align-items: center;
    list-style: none;
}


.navbar__item{
    height: 80px; /* L'altezza di ogni elemento della lista */
}


.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1rem; /*spazio tra gli elementi della lista */
    height: 100%;
}


.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem; /*Il primo numero è sopra e sotto, il secondo destra e sinistra */
    width: 100%;
}


.button{
    display: flex;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border-radius: 4px; 
    background: #f77062;
    color: #fff;
}


.button:hover{
    background: blue; /* Quando il mouse va sul bottone sign up esso diventa blu */
    transition: all 0.3s ease; /*Per diventare blu ci mette 0.3 sec */
}

.navbar__links:hover{
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){  /*Media query*/
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: -1;
        width: 100%;
        width: 5354px;
        padding: 0;
    }

    .navbar__menu{ 
        display: grid; /* Dispongo i collegamenti nella navbar in colonna tramite una grid */
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute; /* Consento ai collegamenti nella navbar di muoversi nella pagina */
        top : -1000px; /*Navbar menu in alto cosi da avere l'effetto discesa del menu */
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1 ;
        background: #131313;
    }

    .navbar__menu.active{ /*Guardare app.js */
        background: #141414;
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        height: 50vh;
        font-size: 1.6rem;
        z-index: 99;
    }
    
    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background:white ;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%); /*Traslo leggermente il mobile menu */
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 60px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;    
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;   
    }  

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    } 
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #logo{
        max-width: 50px;
    }
}