.chat-area {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #f1f1f1;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
 
  
 
  
  .close-button-chat {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #888;
    transition: color 0.3s ease-in-out;
  }
  
  .close-button-chat:hover {
    color: #333;
  }
  
  .header-chat {
    display: flex;
    align-items: center;
  }

  .chat{
    margin-left: 5px;
    font-weight: bold;
    margin-right: 20px;
  }

 
  .list-User {
    list-style-type: none;
    padding: 0;
    margin-left: 15px;
    margin-bottom: 20px;
  }
  
  .switch{
    font-weight: bold;
    margin-left: 5px ;
    margin-bottom: 15px;
  }

  .Administrator-overflow{
    margin-top: 30px;
    overflow-y: auto;
    max-height: 500px;
  }
  .User-overflow{
    margin-top: 50px;
    overflow-y: auto;
    max-height: 500px;
  }
  
  .list-User .elem {
    display: block;
    margin-right: 10px; /* Aggiunge spazio tra gli elementi */
  }
  
  .elem{
    font-weight: bold;
  }

  .list-User .elem:last-child {
    margin-right: 0; /* Rimuove il margine destro dall'ultimo elemento */
  }


  .list-User .elem:nth-child(2) .a {
    border: 2px solid black;
    width: 150px;
  }


  /* styles.css */
  #chat-button:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
  }







  .chat-hidden {
    transform: translateX(100%);
  }