:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}
#message-section{
    display: block; /* Mostra il message-section */
    overflow: auto; /* Aggiungi scrolling se necessario */
    height: 400px; 
    
  }
  
  .msger {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .msger-header {
    display: flex;
    align-items: center;
    background-color: #f77062;
    padding: 10px;
    color: white;
  }
  
  .msger-header-title {
    flex-grow: 1;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
  }
  
  .msger-header-options {
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .msger-chat {
    flex-grow: 1;
    padding: 10px;
    overflow-y: scroll;
  }
  
  .msg {
    display: flex;
    margin: 10px 0;
  }
  
  .msg-img {
    max-width: 2em;
    max-height: 2em;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .msg-bubble {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .msg-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: black;
  }

  .msg-info-name {
    font-weight: bold;
    font-size: 0.7em;
  }
  .msg-info-time {
    font-size: 0.55em;
  }

  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #ffffff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }
  
  .prova{
    width: 1.2em;
    height: 1.2em;
  }
  .msg-text {
    font-size: 1em;
    color: black;
    max-width: 200px;
    word-wrap: break-word;
  }
  
  .msger-inputarea {
    padding: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
  }
  
  .msger-input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    border-radius: 20px;
    background-color: #f1f1f1;
    font-size: 1.1em;
    outline: none;
  }
  
  .msger-send-btn {
    background-color: #f77062;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
    font-weight: bold;
    margin-left: 13px;
  }
  
  .msger-send-btn:hover {
    background-color: #eb196e;
  }