// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.jumbotron-home {
    background-image: url(image_path('home.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}