body{
  background-color: rgb(34,40,49);
}

h4.card-title {
    a {
      text-decoration: none;
    }
  }
  
  .BottoniStella{
    position: relative;
    border-top: 10px;
    margin-left: 890px;
  }

 .star-hover:hover{
  transform: scale(1.5);
  transition: 0.2s ease-in;
  cursor: pointer;
  fill: #ffc107f3;
 }

 .note-name{
  max-width: 30px; /* Imposta la larghezza massima desiderata, ad esempio 300px */
  overflow-wrap: break-word;
 }


 .heart:hover{
  transform: scale(1.5);
  transition: 0.2s ease-in;
  cursor: pointer;
  fill: red;
}
 .heart-off:hover{
  transform: scale(1.5);
  transition: 0.2s ease-in;
  cursor: pointer;
  fill:grey;
}

.note-card:hover{
  transform: scale(1.05);
  transition: 0.2s ease-in;
  cursor: pointer;
  box-shadow: 5px 6px 6px 2px rgba(0, 0, 0, 0.397);
}

 .note-card{
  border: 2px solid grey;
 }