h4.card-title {
    a {
      text-decoration: none;
    }
  }
  
  .BottoniStella{
    position: relative;
    border-top: 10px;
    margin-left: 890px;
  }

 .star-hover:hover{
  transform: scale(1.5);
  transition: 0.2s ease-in;
  cursor: pointer;
  fill: yellow;
 }

 .note-name{
  max-width: 30px; /* Imposta la larghezza massima desiderata, ad esempio 300px */
  overflow-wrap: break-word;
 }
