.Pagina{
  padding-top: 25px;
}

.tags-topics-list {
    padding: 7px;
    margin: 0;
    
    .tag-topic-item {
      padding: 5px 0;
      font-size: 12px;
    }
  }


.BottoniStella{
  position: relative;
  padding-top: 10px;
  border-bottom: 0px;

  .toast {
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 9999;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
  }
  
  .toast .toast-body {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .toast .toast-body svg {
    height: 18px;
    width: 18px;
    margin-right: 8px;
  }
  
  .toast .toast-body span {
    font-weight: bold;
  }
  .BottoneSingolo{
    padding-left: 0px;
    padding-right: 0px;
  }
}


.Drive{
  padding-bottom: 15px;
}

.link{
  text-decoration: none;
}

.Author-Message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Author-Message .Autore {
  text-align: center;
}

.Author-Message .Message {
  margin-left: 10px; /* Puoi regolare la distanza come preferisci */
}


.preview{
  margin-top: 50px;
}
.chart-comment{
  margin-top: 50px;
  margin-left: 150px;
  display: flex;
  .commento{
    border: 1px solid #000000;
    border-radius: 5px;
    max-width: 500px;
    word-wrap: break-word;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
  }
}

textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  resize: vertical;
}

textarea:focus {
  outline: none;
  border-color: #6c63ff;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.3);
}

.piu_su{
  position: relative;
  margin-bottom: 33px;
}


.visualizzazioni {
  display: flex;
  justify-content:center;
  padding-right: 5px;
}

.visualizzazioni p {
  padding-left: 3px;
}

.download{
  display: flex;
  justify-content:center;
  padding-left: 5px;
}
  .download p{
    padding-left: 3px;
  }

  .track{
    display: flex;
    justify-content:center;
    padding-top: 15px;
  }

  .chart{
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 200px;
  }