

body {
  margin: 0; /* Rimuove il margine predefinito del corpo del documento */
  padding: 0; /* Rimuove il padding predefinito del corpo del documento */
  background-color: rgb(34,40,49);
}

.container.Pagina {
  margin-top: 50px;
  max-width: 800px;
  background-color: #f0f0f0; /* Puoi sostituire #f0f0f0 con il colore che preferisci */
  min-height: 100vh; /* Imposta l'altezza minima del contenitore al 100% dell'altezza della finestra visualizzata */
  padding: 20px; 
  border-radius: 10px;
}

.note-details {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  border: 2px solid #ccc; /* colore e spessore del bordo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* effetto ombra */
}

.track {
  display: flex;
  justify-content: space-between;
}

.rating-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Author-Message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-group.Drive {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.g_link:hover{
  transform: scale(1.015);
  transition: 0.2s ease-in;
  cursor: pointer;
}
.scarica:hover{
  transform: scale(1.015);
  transition: 0.2s ease-in;
  cursor: pointer;
}


.preview iframe {
  border: none;
  max-width: 100%;
}

  .star-rating-icon:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
  }

  .star-hover:hover{
    transform: scale(1.5);
    transition: 0.2s ease-in;
    cursor: pointer;
    fill: yellow;
   }
   
   
   .chart-comment{
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    color: black;
    .commento{
      background-color: white;
      border-radius: 5px;
      max-width: 500px;
      word-wrap: break-word;
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 5px;
    }
  }
  
  textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    resize: vertical;
  }
  
  textarea:focus {
    outline: none;
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.3);
  }

  .chart{
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
  }


  .hidden {
    display: none;
  }

  #mostraBtn{
    margin-bottom: 10px;
  }
  #mostraBtn:hover{
    margin-bottom: 10px;
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
  }

  .add_comment{
    margin-bottom: 34px;
    margin-left: 10px;
  }
  .add_comment:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
  }

  .monstraDescrizione_container{
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    margin-bottom: 50px;
  }

 #mostraDescrizione:hover{
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
 }
 .Administrator-overflow{
  overflow-y: auto;
  max-height: 1px;
}
.User-overflow{
  overflow-y: auto;
  max-height: 1px;
}
 #Descrizione {
  text-align: center;
  max-width: 800px; /* o qualsiasi altra larghezza desiderata */
  margin: 0 auto; /* per centrare l'elemento horizontalmente */
  word-wrap: break-word; /* fa andare a capo il testo quando supera la larghezza massima */
}


.description-box {
  text-align: center;
  max-width: 800px; /* o qualsiasi altra larghezza desiderata */
  margin: 0 auto; /* per centrare l'elemento horizontalmente */
  word-wrap: break-word; /* fa andare a capo il testo quando supera la larghezza massima */
  padding: 10px; /* spazio interno al riquadro */
  border: 2px solid #ccc; /* colore e spessore del bordo */
  border-radius: 10px; /* arrotondamento degli angoli per un aspetto più moderno */
  margin-bottom: 10px;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* effetto ombra */
}


 .h2_Comment{
  color: white;
 }