.pagina{
    margin-top: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;

  }
  
  .text-center {
    text-align: center;
  }
  
  #username {
    font-size: 24px;
    color: #333;
  }
  
  #name {
    font-size: 18px;
    color: #777;
    margin-top: 10px;
  }
  
  .boh {
    margin-bottom: 10px;
  }
  