.pagina{
    margin-top: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;

  }
  
  .text-center {
    text-align: center;
  }
  
 
  
  .boh {
    margin-bottom: 10px;
  }
  